html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}
.navbar {
    background-color: rgb(81, 106, 126);
    color: rgb(221, 230, 236);
}
a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit parent element's font color */
}

    a:hover {
        text-decoration: none; /* Remove underline on hover */
        color: inherit; /* Inherit parent element's font color on hover */
        background-color: transparent; /* Remove background color on hover */
    }